body{
  margin: 0px;
}

.navbar{
  display: flex;
  gap: 10px;
  height: 44px;
  align-items: center;
  padding: 0 20px;
}

input{
  padding: 10px;
  height:200px;
  font-size:14pt;
}

div{
  background-color: #252728;
  color: whitesmoke;
}

.nav-el{
  font-family: 'Inter', sans-serif;
}
